.footer {
	p,
	h4 {
		margin: 0;
	}

	&--container {
		background: url('../../img/footer_bg.png');
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 302px;
		background-repeat: no-repeat;
		height: 665px;
		position: relative;
	}

	& {
	}

	&__subscription {
		background-color: $fittly-orange;
		min-height: 302px;
		position: relative;
		top: 64px;
		border-radius: 15px;
		padding: 48px;

		&--text {
			h4 {
				margin-bottom: 32px;
				font-size: $fs32;
				line-height: 45px;
				font-family: 'BrandonTextRegular';

				span {
					font-family: 'BrandonTextBold';
				}
			}
		}

		&--input {
			height: 52px;
			overflow: hidden;

			input {
				font-family: 'BrandonTextRegular';
				height: 100%;
				width: 248px;
				padding: 14px 16px;
				font-size: $fs14;
				line-height: 24px;
				border: none;
				border-radius: 5px 0 0 5px;
			}

			button {
				background-color: $fittly-text-gray;
				border: none;
				height: 48px;
				width: 156px;
				border-radius: 0 5px 5px 0;
				color: #fff;
				font-family: 'BrandonTextBold';
				font-size: $fs14;
				line-height: 20px;
			}
		}
		&--img {
			width: 100%;
			height: 100%;
		}
	}

	&__info {
		position: absolute;
		width: 100%;
		bottom: 38px;
		color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
}
