// COLORS
$fittly-orange: #eba14a;
$fittly-red: #d17f5c;
$fittly-blue: #05a2ae;
$fittly-darkblue: #06747c;
$fittly-beige: #f2efea;
$fittly-sand: #ded5c8;
$fittly-dark-teal: #213638;
$fittly-text-gray: #18191f;
$fittly-neutral-black: #131d1d;

// FONT SIZES
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs24: 24px;
$fs32: 32px;
$fs40: 40px;
$fs44: 44px;
$fs48: 48px;
$fs64: 64px;
